<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.3.1.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="~{navigation::head}"></div>

<div class="jumbotron">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"></div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb">
                <li class="li"><a href="/">Home</a></li>
                <li class="active li">返回社区</li>
            </ol>
        </div>

        <div class="jumbotron img-by-div">
            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <h1 style="color: #eb9316">出错啦~~</h1>
                <h2 style="color: whitesmoke" th:text="${'>>>'+message}"></h2>
                <li class="btn-link"><a href="/index" role="button">回到首页</a></li>
            </div>
        </div>
        <div class="jumbotron img-by-div"></div>
    </div>
</div>

<div th:insert="~{navigation::info}"></div>

</body>
</html>