<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${session.title + ' - 社区首页'}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.3.1.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script charset="utf-8" src="/js/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="/js/kindeditor/lang/zh_CN.js"></script>
</head>
<script type="application/javascript">
    window.setInterval(function () {
        getMessage('messageShow');
    },10000);

    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if(closable === "true"){
            window.close();
            window.localStorage.removeItem("closable");
        }
    }

    $(function () {
        $("#tip").show();
        getMessage('messageShow');
    });

    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            resizeType : 0,
            allowPreviewEmoticons : false,
            items : [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons'],
                afterChange : function() {
                var limitNum = 100; //设定限制字数
                var pattern = '👆还可输入' + (limitNum-this.count('text')) + '字';
                if(this.count('text') > limitNum) {
                    pattern = ('✖字数超过限制，请适当删除部分内容');
                } else {
                    var result = limitNum - this.count('text');
                    pattern = '👆还可以输入' + result + '字';
                }
                $('#messageTile').text(pattern); //输入显示
            }
        });
    });
</script>
<body>
<div th:insert="~{navigation::head}"></div>

<!--顶部-->
<div class="container-fluid main-no-color">
    <div class="row">
        <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 main-color img-by-div" style="height: 280px">
        </div>
    </div>
</div>

<div class="container-fluid main-no-color">
    <div class="row">
        <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 main-color">
            <h2>
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span> 最新
            </h2>
            <hr>

            <div class="media" th:each="question:${pagination.questions}">
                <div class="media-body">

                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="media-heading">
                            <a th:text="${question.title}" th:href="@{'/question/'+${question.id}}"></a>
                        </h4>
                        <span th:text="${question.description}"></span>
                        <br>
                        <span class="text-desc">
                            <span th:text="${question.commentCount}"></span> 个回复 • <span
                                th:text="${question.viewCount}"></span> 次浏览 • <span
                                th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> • 作者：<span
                                th:text="${question.user.getName()}"></span>
                        </span>
                    </div>

                    <li th:if="${session.user != null}" class="li">
                        <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                            <button th:if="${question.getCollection() == 1}" id="star" type="button" class="btn-link" th:value="${question.id}"  data-toggle="modal" onclick="">
                                <span id="star_icon" class="glyphicon glyphicon-tags" style="color: #eb9316;" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                </div>
                <hr>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a href="/?page=1" aria-label="FirstPage">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}"><a th:href="@{/(page=${pagination.page}-1)}">
                        <span aria-hidden="true">&lt;</span>
                    </a></li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                        <a th:text="${page}" th:href="@{/(page=${page})}"></a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page}+1)}"><span aria-hidden="true">&gt;</span></a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage})}" aria-label="EndPage">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

            <ol class="breadcrumb">
                <li><a id="menu_a" href="#">吐槽</a></li>
                <li id="menu_b" class="active">展示最新5条动态</li>
            </ol>

            <div id="messageShow" class="form-group">
                <!--吐槽展示区域-->

            </div>

            <form id="sendMessageForm" action="/message/send" method="post">
                <div th:if="${session.user != null}" class="panel panel-default">
                    <div  class="panel-heading">我要吐槽
                        <button type="button" class="navbar-right" onclick="sendMessage('messageShow')">发布</button>
                    </div>
                    <textarea name="content" id="description" rows="3" class="form-control" style="height:100px;width:100%;border:none;outline:none;"></textarea>
                    <div id="messageTile" class="navbar-right"></div>
                </div>
            </form>

        </div>
    </div>
</div>

<!--底部-->
<div th:insert="~{navigation::info}"></div>
</body>
</html>