<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发起话题</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.3.1.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">

    <link rel="stylesheet" href="/js/kindeditor/themes/default/default.css" />

    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>

    <script charset="utf-8" src="/js/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="/js/kindeditor/lang/zh_CN.js"></script>

    <script type="application/javascript">
        $(function () {
            var message = $("#error").text();
            if(message != ''){
                showTip(message,"error");
            }

            var id = $("#contextId").text();
            if (id != ''){
                window.location.href = "/question/" + id;
            }

            id = $("#nowId").val();
            if (id != ''){
                $("#menu_a").html('话题');
                $("#menu_a").attr("href","/question/" + id);
                $("#menu_b").html('编辑');
            }else{
                $("#menu_a").html('Home');
                $("#menu_a").attr("href","/");
                $("#menu_b").html('发起话题');
            }
        })

        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('textarea[name="content"]', {
                resizeType : 1,
                allowPreviewEmoticons : false,
                allowImageUpload : false,
                items : [
                    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                    'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            });
        });
    </script>
</head>
<body>

<div th:insert="~{navigation::head}"></div>

<span id="contextId" th:text="${contextId}" style="display: none;"></span>

<!--Tip-->
<li class="li" th:if="${error != ''}">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"></div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div id="error" class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" style="display: none;" th:text="${error}" th:if="${error}!=null"></div>
    </div>
</li>

<div class="container-fluid main2">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb">
                <li><a id="menu_a" href="/">Home</a></li>
                <li id="menu_b" class="active">发起话题</li>
            </ol>
        </div>

        <div class="container-fluid main">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <h2>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 话题
                    </h2>
                    <hr>
                    <form action="/publish" method="post">
                        <input id="nowId" name="id" type="hidden" th:value="${id}">
                        <div class="form-group">
                            <label for="title">标题</label>
                            <input type="text" class="form-control" name="title" id="title" placeholder="标题..." th:value="${title}">
                        </div>
                        <div class="form-group">
                            <label for="title">内容</label>
                            <!--<textarea name="description" id="description" cols="30" rows="10" class="form-control" th:text="${description}"></textarea>-->
                            <textarea name="content" id="description" cols="50" rows="10" class="form-control" th:text="${description}" style="height:400px;"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="title">添加标签</label>
                            <input type="text" class="form-control" name="tag" id="tag" placeholder="标签，用逗号隔开" th:value="${tag}">
                        </div>
                        <div class="container-fluid main ">
                            <div class="row">
                                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn btn-success btn-publish">Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <h3 style="margin: 25px">话题发起指南</h3>
                    <hr>
                    <div style="margin: 30px;font-size: 15px;">
                        <li>发起话题请文明用语</li>
                        <li>发起话题请文明用语</li>
                        <li>发起话题请文明用语</li>
                        <li>发起话题请文明用语</li>
                        <li>发起话题请文明用语</li>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="~{navigation::info}"></div>

</body>
</html>