<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${session.title + ' - 个人中心'}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.3.1.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<script type="application/javascript">
</script>
<body>
<div th:insert="~{navigation::nav}"></div>

<!--Tip-->
<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12"></div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div id="errorTip" class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" style="display: none;"></div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 main-no-color-2"></div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 main-color" style="border-radius: 12px;overflow: hidden;">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Me</li>
            </ol>
                <!--<h2>-->
                    <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 个人资料-->
                <!--</h2>-->

            <!--头像-->
            <div style="width: 920px;height: 100px;float:left">
                <div style="width: 107px;height: 105px;float:left">
                    <img th:src="${session.user.avatarUrl}" th:name="${session.user.account}" class="img-rounded media-object" onclick="toAccount(this.name)"
                         style="margin: 3px;width: 100px;height: 100px">
                </div>
                <!--名称与等级-->
                <div style="width: 230px;height: 80px;float:left">
                    <div style="width: 230px;height: 40px;float:left;"></div>
                    <div style="width: 230px;height: 40px;float:left;">
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" class="active"><a href="#" th:text="${session.user.getName()}">-- <span class="badge">0</span></a></li>
                            <li role="presentation" class="active"><a href="#">Level <span class="badge">0</span></a></li>
                        </ul>
                    </div>
                    <div style="width: 230px;height: 5px;float:left"></div>
                    <div style="width: 230px;height: 15px;float:left">
                        编辑个人资料。。。。。。
                    </div>
                </div>
                <div style="width: 200px;height: 105px;float:left;"></div>
                <div style="width: 382px;height: 105px;float:left;border-radius: 12px;overflow: hidden;">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1654336705,3008227192&fm=26&gp=0.jpg" class="img-rounded media-object"
                         style="margin: 3px;width: 100%;height: 100%;">
                </div>
            </div>

            <!--间隔-->
            <div style="width: 920px;height: 15px;float:left;"></div>

            <!--第二栏-->
            <div style="background-color: whitesmoke; width: 920px;height: 300px;float:left;border-radius: 12px;overflow: hidden;">
            </div>

            <!--间隔-->
            <div style="width: 920px;height: 15px;float:left;"></div>

            <!--第三栏-->
            <div style="background-color: whitesmoke; width: 920px;height: 500px;float:left;border-radius: 12px;overflow: hidden;"></div>

            <hr>
        </div>
    </div>
</div>

<!--底部-->
<div th:insert="~{navigation::info}"></div>
</body>
</html>
