<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${session.title + ' - 个人中心'}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.3.1.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<script type="application/javascript">
</script>
<body>
<div th:insert="~{navigation::nav}"></div>

<div class="container-fluid">
    <div class="row">

        <!--<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 main-no-color-2"></div>-->

        <!--<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 main-color" style="border-radius: 12px;overflow: hidden;">-->
        <!--Tip-->
        <div id="errorTip" class="alert alert-danger tl" style="display: none;width: 350px;height: 50px;margin-top: 0;margin-left: 40%"></div>

        <div class="main-color" style="border-radius: 12px;overflow: hidden;width: 950px;margin-left:25%;">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Me</li>
            </ol>
                <!--<h2>-->
                    <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 个人资料-->
                <!--</h2>-->

            <!-- 头像切换 -->
            <div id="img_win" style="display: none;margin-top: 0;opacity:0.97;" class="modal-dialog tl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="$('#img_win').hide()">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">切换头像</h4>
                        <hr>
                        <div id="img_data">
                            <!--<div style="width: 113px;height: 105px;float:left">-->
                                <!--<img th:src="${session.user.avatarUrl}" th:name="${session.user.account}" class="img-rounded media-object" onclick="setHeadImg()"-->
                                     <!--style="margin: 3px;width: 100px;height: 100px">-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="img_but" type="button" class="btn btn-primary" onclick="commitHeadImg(this)">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#img_win').hide()">关闭</button>
                    </div>
                </div>
            </div>

            <!--头像-->
            <div style="width: 930px;height: 100px;float:left;margin-left:10px;">
                <div style="width: 115px;height: 105px;float:left">
                    <img th:src="${session.user.avatarUrl}" th:name="${session.user.account}" class="img-rounded media-object" onclick="setHeadImg()"
                         style="margin: 3px;width: 100px;height: 100px">
                </div>
                <!--名称与等级-->
                <div style="width: 230px;height: 80px;float:left">
                    <div style="width: 230px;height: 40px;float:left;"></div>
                    <div style="width: 230px;height: 40px;float:left;">
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" class="active"><a href="#" th:text="${session.user.getName()}">-- <span class="badge">0</span></a></li>
                            <li role="presentation" class="active"><a href="#">Level <span class="badge">0</span></a></li>
                        </ul>
                    </div>
                    <div style="width: 230px;height: 5px;float:left"></div>
                    <div style="width: 230px;height: 15px;float:left">
                        &nbsp;<a class="glyphicon glyphicon-picture" href="#" onclick="setHeadImg()">头像</a>&nbsp;|&nbsp;<a href="#" class="glyphicon glyphicon-pencil" onclick="$('#user_info').hide();$('#user_info_edit').show();">编辑个人资料</a>&nbsp;|&nbsp;<span class="glyphicon glyphicon-bell">消息<a href="#">(0)</a></span>
                    </div>
                </div>
                <div style="width: 190px;height: 105px;float:left;"></div>
                <div style="width: 392px;height: 105px;float:left;border-radius: 12px;overflow: hidden;">
                    <!--<img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1654336705,3008227192&fm=26&gp=0.jpg" class="img-rounded media-object"-->
                         <!--style="margin: 3px;width: 100%;height: 100%;">-->
                </div>
            </div>

            <!--间隔-->
            <div style="width: 920px;height: 15px;float:left;"></div>

            <!--第二栏-->
            <div class="userInfo-div-2" id="user_info">
                <!--标题-->
                <div style="width: 930px;height: 15px;float:left;margin-left:10px;"><h4 style="color: burlywood"><b>个人信息：</b></h4></div>
                <!--内容-->
                <div style="width: 910px;height: 260px;float:left;border-radius: 12px;overflow: hidden;margin-left:10px;margin-top: 15px">
                    <div class="userInfo"><span class="glyphicon glyphicon-asterisk" style="color: #2aabd2">-昵称：</span><span th:text="${session.user.name}"></span></div>
                    <div class="userInfo"><span class="glyphicon glyphicon-user" style="color: #2aabd2">-账号：</span><span th:text="${session.user.account}"></span></div>
                    <div class="userInfo"><span class="glyphicon glyphicon-envelope" style="color: #2aabd2;">-邮箱：</span><span th:text="${(session.user.mail == null || session.user.mail == '') ? '未绑定' : session.user.mail}"></span></div>
                    <div class="userInfo"><span class="glyphicon glyphicon-blackboard" style="color: #2aabd2;">-社交：</span><span th:text="${session.user.social}"></span></div>
                    <div class="userInfo"><span class="glyphicon glyphicon-font" style="color: #2aabd2;">-签名：</span><span th:text="${session.user.remark}"></span></div>
                    <div class="userInfo"><span class="glyphicon glyphicon-star" style="color: #2aabd2;">-勋章：</span><span></span></div>
                </div>
            </div>
            <!--第二栏>>转编辑-->
            <div class="userInfo-div-2" id="user_info_edit" style="display: none;">
                <!--标题-->
                <div style="width: 930px;height: 15px;float:left;margin-left:10px;"><h4 style="color: burlywood"><b>个人信息：</b></h4></div>
                <!--内容-->
                <div style="width: 910px;height: 260px;float:left;border-radius: 12px;overflow: hidden;margin-left:10px;margin-top: 15px;">
                    <form action="/account/updateUserInfo" method="post" id="commit_user_info">
                        <div class="userInfo"><span class="glyphicon glyphicon-asterisk" style="color: #2aabd2">-昵称：</span><input name="name" class="user-info-input" th:value="${session.user.name}"></input></div>
                        <!--<div class="userInfo"><span class="glyphicon glyphicon-user" style="color: #2aabd2">-账号：</span><span th:text="${session.user.account}"></span></div>-->
                        <div th:if="${session.user.mail == null || session.user.mail == ''}">
                        <div class="userInfo"><span class="glyphicon glyphicon-envelope" style="color: #2aabd2;">-邮箱：</span><input name="mail" class="user-info-input"></input></div>
                        <div class="userInfo">
                            <div style="margin-left: 5px;"><b>验证码：</b></span><input name="code" class="user-info-input" style="width: 80px"></input><a href="#" style="margin-left: 15px">获取验证码</a>
                            </div>
                        </div>
                        </div>
                        <div th:if="${session.user.mail != null && session.user.mail != ''}">
                            <div class="userInfo"><span class="glyphicon glyphicon-envelope" style="color: #2aabd2;">-邮箱：</span><span th:text="${session.user.mail}"></span></div>
                        </div>
                        <div class="userInfo"><span class="glyphicon glyphicon-blackboard" style="color: #2aabd2;">-社交：</span><input name="social" class="user-info-input" th:value="${session.user.social}"></input></div>
                        <div class="userInfo"><span class="glyphicon glyphicon-font" style="color: #2aabd2;">-签名：</span><input name="remark" class="user-info-input" th:value="${session.user.remark}"></input></div>

                        <!--保存、取消-->
                        <div class="userInfo">
                            <a href="#" class="glyphicon glyphicon-ok" style="color: forestgreen;margin-left: 145px" onclick="commitUserInfo()">提交</a>&nbsp;
                            <a href="#" class="glyphicon glyphicon-remove" style="color: #a94442;" onclick="$('#user_info_edit').hide();$('#user_info').show();">取消</a>
                        </div>
                    </form>
                </div>
            </div>

            <!--间隔-->
            <div style="width: 920px;height: 15px;float:left;"></div>

            <!--第三栏-->
            <div style="background-color: whitesmoke; width: 930px;height: 180px;float:left;border-radius: 12px;overflow: hidden;margin-left:10px;">
                <!--标题-->
                <div style="width: 930px;height: 15px;float:left;margin-left:10px;"><h4 style="color: burlywood"><b>我的应用：</b></h4></div>
                <!--内容-->
                <!--<div style="background-color: white; width: 910px;height: 140px;float:left;border-radius: 12px;overflow: hidden;margin-left:10px;margin-top: 15px">-->
                <!--</div>-->
            </div>

            <hr>

            <div style="width: 920px;height: 15px;float:left;"></div>
        </div>
    </div>
</div>

<!--底部-->
<div th:insert="~{navigation::info}"></div>
</body>
</html>
