<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${session.title + ' - 个人中心'}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.3.1.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<script type="application/javascript">
</script>
<body>
<div th:insert="~{navigation::nav}"></div>

<!--Tip-->
<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12"></div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div id="errorTip" class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" style="display: none;"></div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 main-no-color-2"></div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 main-color">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Me</li>
            </ol>
                <!--<h2>-->
                    <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 个人资料-->
                <!--</h2>-->
            <div class="jumbotron">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#">Level <span class="badge">0</span></a></li>
                    <li role="presentation" class="active"><a href="#" th:text="${session.user.getName()}">-- <span class="badge">0</span></a></li>
                </ul>
                <hr>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">个人信息</div>
                <div class="panel-body">

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">历史</div>
                <div class="panel-body">

                </div>
            </div>

            <hr>
        </div>
    </div>
</div>
</body>
</html>
